* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}

.main {
  min-height: 100vh;
  /* top | right | bottom | left */
  padding: 25% 5% 25% 5%;
  background-color: var(--VeryDarkBlue);
}

.container {
  display: flex;
  /*border: 1px solid red;*/
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--DarkDesaturatedBlue);
  border-radius: 10px;
}

.photo {
  background-image: url(./images/image-header-mobile.jpg);
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 3;
  width: 100%;
  order: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.photo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: var(--SoftViolet);
  opacity: 0.6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-container {
  border: 1px solid aqua;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* top | right | bottom | left */
  padding: 10% 10% 10% 10%;
}

.info-container h1 {
  font-size: 1.8rem;
  text-align: center;
  font-family: 'inter', sans-serif;
  font-weight: 700;
}

.info-container h1 span {
  color: var(--Violet);
}