* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  background-color: var(--VeryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 70%;
  height: 390px;
  background-color: var(--DarkDesaturatedBlue);
  border-radius: 10px;
}

.content {
  width: 50%;
  height: 390px;
}

.photo {
  width: 50%;
  height: 390px;
  background-image: url(./images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.photo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 390px;
  content: '';
  background-color: var(--SoftViolet);
  opacity: 0.5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-container {
  padding: 60px;
}

.info-container h1 {
  color: var(--White);
  font-size: 2.2rem;
  padding-bottom: 30px;
  font-family: 'Lexend Deca', sans-serif;
}

.info-container p {
  color: var(--SlightlyTransparentWhite);
  padding-bottom: 50px;
  width: 360px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.headings {
  display: flex;
}

.headings h4 {
  margin-right: 40px;
}

.stat-headings {
  font-size: 1.5rem;
  height: 0;
  color: var(--White);
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lexend Deca', sans-serif;
}

.label {
  font-size: 0.9rem;
  color: var(--SlightlyTransparentWhiteStatHeadings);
  font-weight: 100;
}

span {
  color: var(--Violet);
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 375px) {
  .main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    height: 650px;
  }

  .content {
    /*border: 1px solid aqua;*/
    width: 100%;

  }

  .photo {
    width: 100%;
    height: 200px;
    background-image: url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 3;
    margin-bottom: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .photo::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    content: '';
    background-color: var(--SoftViolet);
    opacity: 0.5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .info-container {
    padding: 20px;
  }

  .info-container h1 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 30px;
  }

  .info-container p {
    text-align: center;
    padding-bottom: 50px;
    width: 100%;
    font-size: 80%;
  }

  .headings {
    border: 1px solid red;
    height: 200px;
    flex-wrap: wrap;
  }

  .headings h4 {
    margin-right: 20px;

  }

  .stat-headings {
    font-size: 1.2rem;
    margin-top: -40px;
    color: var(--White);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
    color: var(--SlightlyTransparentWhiteStatHeadings);
    font-weight: 100;
  }
}